@model WebApp_22_11_2023.Models.InventarioModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<label>ID Clientes</label>
<select name="id_cliente" class="form-control">
    @foreach (var item in Model.clientes)
    {
        <option value="@item.id_cliente">@item.nome</option>
    }
</select>

<label>ID Maquinas</label>
<select name="id_maquina" class="form-control">
    @foreach (var item in Model.maquinas)
    {
        <option value="@item.id_maquina">@item.nome_maquina</option>
    }
</select>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_inventario" class="control-label"></label>
                <input asp-for="id_inventario" class="form-control" />
                <span asp-validation-for="id_inventario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_cliente" class="control-label"></label>
                <input asp-for="id_cliente" class="form-control" />
                <span asp-validation-for="id_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantidade" class="control-label"></label>
                <input asp-for="quantidade" class="form-control" />
                <span asp-validation-for="quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data_aquisicao" class="control-label"></label>
                <input asp-for="data_aquisicao" class="form-control" />
                <span asp-validation-for="data_aquisicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="preco_unitario" class="control-label"></label>
                <input asp-for="preco_unitario" class="form-control" />
                <span asp-validation-for="preco_unitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="observacoes" class="control-label"></label>
                <input asp-for="observacoes" class="form-control" />
                <span asp-validation-for="observacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
